#!/bin/bash
#$ -N REPLACE_NAME
#$ -o REPLACE_LOGFILE
#$ -j y
#$ -l h_rt=REPLACE_WALLTIME
#$ -l mem_total=REPLACE_MEM
#$ -l gpus=1
#$ -l gpu_c=6.0
#$ -pe omp 1

echo "Job $JOB_ID starting on $(hostname) at $(date)"

REPLACE_JOB
